<div class="card">
  <div class="card-body">
    <a href="{{ flower.get_absolute_url }}">
      <img class="card-img" src="{{ flower.image_thumbnail.url }}">
    </a>
    <h2 class="card-title">{{ flower.title }}</h2>
    <p class="card-description">{{ flower.description }}</p>

    <div class="taxonomy"> 
      <div href="#" class="card-link">{{ flower.category }}</div>
      {% for tag in flower.tags.all %}
      <a href="{% url 'tags' tag.slug %}" class="card-link">{{ tag }}</a>
      {% endfor %}
    </div>
    <br>

    {% if perms.myapp.change_flower %}
    <a class="card-link" href="{% url 'edit' pk=flower.pk %}">Edit</a>
    {% endif %}
    {% if perms.myapp.delete_flower %}
    <a class="card-link" href="{% url 'delete' pk=flower.pk %}">Delete</a>
    {% endif %}
    
  </div>
</div>
