{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MySite</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="{% static 'base/css/styles.css' %}">
  </head>
  <body>
    <div class="navbar">
      <div class="navbar-brand">
	Flowers
      </div>
      <ul class="navbar-menu">
	<li class="navbar-menu-li">
	  <a class="navbar-menu-a" href="/">Home</a>
	</li>
      </ul>
    </div>
    <div id="content">
      <form action="/" method="get" class="form">
        <input id="q" name="q" value="{{ request.GET.q }}"
	       class="form-input" type="text" placeholder="Search..." aria-label="Search">
      </form>
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      &copy 2019 Flowers. All rights reserved. 
    </div>
  </body>
</html>
